<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body style="background:#F7F7F7;">

  <div class="">

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
        <p th:if="${param.logout}" class="alert">Anda sudah logout</p>
		<p th:if="${param.error}" class="alert alert-error">Error, harap
			coba lagi</p>
        
        <form id="f" class="form-signin" th:action="@{/login}" method="post">
            <h1>Login Form</h1>
            <div>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" />
            </div>
            <div>
<button class="btn btn-default submit" type="submit">Sign in</button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Erwin Sobirin</h1>
            
              </div>
            </div>
          </form>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
   
</div>
</div> 

</body>

</html>